---
language: nix
env:
  global:
    - STORE=$HOME/nix-store
cache:
  directories:
    - $STORE
before_install:
  - sudo mkdir -p /etc/nix
  - echo "binary-caches = https://cache.nixos.org/ file://$STORE" | sudo tee -a /etc/nix/nix.conf > /dev/null
  - echo 'require-sigs = false' | sudo tee -a /etc/nix/nix.conf > /dev/null
before_cache:
  - mkdir -p $STORE
  - nix copy --to file://$STORE -f default.nix buildInputs
install:
  - nix-shell --command "python -c 'import fmks'"
script:
  - nix-shell --command "py.test"
  - nix-shell --command "pylint --rcfile=.pylintrc fmks fmks/tests"
  - nix-shell --command "flake8 --exclude=fmks/fext.py fmks fmks/tests"
