## packages for using pymks
scipy
numpy
scikit-learn
matplotlib
configparser

## packages for testing pymks
pytest
pytest-cov
pylint
nbval

## packages for running the examples
jupyter

## Packages required by Sfepy. Sfepy itself must be installed using
## Conda or from source, there is no Pip installation.
sympy
cython
tables
